<h1>Welcome to Geek Shirts</h1>
<h2>Your source for really geeky shirts in Berlin</h2>
<%# this is how to comment out ruby code %>
<%#= this is another way to comment out ruby code %>

<%= image_tag("sarcasm-shirt.jpg", class: "img-responsive") %>
